main{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 30px;
    background: #f1f1f1;
    border-radius: 30px;
}
main ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
main li{    
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}