main{
    width: 600px;
    margin: 0 auto;
    border: 4px solid #d4d4d4;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
    box-sizing: border-box;
    /* background: #ffffff; */
    border-radius: 10px;
}
main h2{
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
}
.phone_number{
    display: inline-block;
    flex-direction: column;
    
}
.submit_button{
    display: inline-block;
}
.phone{
    font-size: 20px;
    padding: 8px 5px 8px 10px;
    margin: 10px 0;
    width: 100%;
    outline: none;
    border: none;
    background: #ebebeb;
    border-radius: 5px;
}
.sum_btn{
    padding: 10px 20px;
    box-sizing: border-box;
    color: black;
    background: #a8a8a8;
    border: none;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
}
.sum_btn:hover{
    background-color: #555;
    color: white;
}
.phon_lable{
    font-size: 15px;
    font-weight: 600;
}
.find_email{
    width: 100%;
    font-weight: 900;
}
.login_find_result_txt{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0 0;
    height: 30px;
    margin-top: 30px;
    line-height: 30px;
    gap: 30px;
}