
/* 맨위 헤더 부분 시작 */
header{
    max-width: 1400px;
    min-width: 800px;
    height: 80px;
    box-sizing: border-box;
    /*padding: 0 60px;*/
    position: relative;
    top: 0;

    margin: 0 auto;

    border: 1px solid red;
}
.header_left{
    width: 140px;
    height: 100%;
    float: left;
    /*margin-left: 80px;*/
}
.header_left img{
    width: 100%;
    height: 100%;
}
/*.header_mid{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*    !*border: 1px solid blue;*!*/
/*}*/
#search-form{

    width: auto;
}
#search{
    display: flex;

}
/*.header_mid h1{*/
/*    line-height: 80px;*/
/*    font-weight: 900;*/
/*    font-size: 32px;*/
/*}*/
#search_bar{
    width: 200px;
    height: 35px;
    /*border: none;*/
}
#search_btn{
    background: url("/img/search.png") no-repeat center;
    /*border: none;*/
    width: 30px;
    height: 30px;
    background-size: cover;
    border: 1px solid red;

}
.header_right{
    /*margin-right: 80px;*/
    float: right;
    border: 1px solid red;
}
.header_right ul{
    display: flex;
    gap: 15px;
}
.header_right li{
    line-height: 80px;
    font-weight: 900;
    font-size: 18px;
}
.b_r_h:hover{
    scale: 1.1;
}   
/* nav 바 시작 */
nav{
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    background-color: #31304D
}
nav ul{
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
nav li{
    line-height: 40px;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid transparent;

}
/*nav li:hover{*/
/*    scale: 1.05;*/
/*    border-bottom: 3px solid #fff;*/
/*    box-sizing: border-box;*/
/*}*/
nav li:nth-child(1):hover{
    scale: 1.05;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
}
nav li:nth-child(2):hover{
    scale: 1.05;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
}
nav li:nth-child(3):hover{
    scale: 1.05;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
}
nav li:nth-child(4):hover{
    scale: 1.05;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
}

